<h1 style="font-size:250%; font-family:cursive; color:#ff6666;"><b>Get Bitcoin Historic Data For Free with Python - Detailed Video in my YouTube Channel</b><a id="0"></a></h1>

<a href="https://bit.ly/3mwv2kJ"><h1 style="font-size:250%; font-family:cursive; color:#ff6666;"><b>Link to my YouTube Video</b></h1></a>

[![IMAGE ALT TEXT](https://imgur.com/ZvzhIdK.png)](https://bit.ly/3mwv2kJ "Get Bitcoin Historic Data For Free with Python - Detailed Video in my YouTube Channel")

In [2]:
# If running in Colab - you first need to install the package ( Historic-Crypto )
# !pip install Historic-Crypto

import warnings
warnings.filterwarnings("ignore")

from Historic_Crypto import HistoricalData

The arguments for the class are listed below:

| Argument | Description |
| ------ | --------- |
| ticker | supply the ticker information which you want to return (str). |
| granularity | please supply a granularity in seconds (60, 300, 900, 3600, 21600, 86400) (int). |
| start_date | a string in the format YYYY-MM-DD-HH-MM (str).  |
| end_date | a string in the format YYYY-MM-DD-HH-MM (str). **Optional, Default: Now** |
| verbose | printing during extraction. **Default: True** |

## Code to fetch Bitcoin Historic Prices from Oct-2015 to Oct-2021 using [Historic Crypto](https://pypi.org/project/Historic-Crypto/) package

In [3]:
btc_historicals = HistoricalData('BTC-USD',60,'2021-10-29-00-00', '2021-10-30-00-00').retrieve_data()

Checking input parameters are in the correct format...
Formatting Dates...
Checking if ticker supplied is available on the CoinBase Pro API...
Connected to the CoinBase Pro API...
Ticker 'BTC-USD' found at the CoinBase Pro API, continuing to extraction...
Data for chunk 0 of 4 extracted
Data for chunk 1 of 4 extracted
Data for chunk 2 of 4 extracted
Data for chunk 3 of 4 extracted
Data for chunk 4 of 4 extracted

In [8]:
btc_historicals.head()

                          low      high      open     close     volume
time
2021-10-29 00:01:00  60552.64  60751.32  60577.62  60722.65  43.818775
2021-10-29 00:02:00  60615.48  60804.16  60721.59  60701.95  25.941480
2021-10-29 00:03:00  60451.02  60722.95  60712.02  60476.71  18.321852
2021-10-29 00:04:00  60413.96  60577.65  60466.92  60570.27  14.422616
2021-10-29 00:05:00  60568.81  60774.94  60575.57  60731.10  14.229798

In [9]:
btc_historicals.tail()

                          low      high      open     close     volume
time
2021-10-30 00:56:00  61858.27  61996.81  61976.27  61905.36   7.238153
2021-10-30 00:57:00  61887.44  61983.23  61902.46  61934.71   4.104854
2021-10-30 00:58:00  61915.90  62011.21  61934.70  61960.23  24.712960
2021-10-30 00:59:00  61925.26  62003.03  61979.28  61943.99  14.810485
2021-10-30 01:00:00  61892.01  61944.01  61944.00  61924.71   7.409878

In [4]:
btc_historicals.shape

(1500, 5)